<div class="div root">
  <div class="jumbotron">
    <h1 class="display-4">TimerZ</h1>
    <p class="lead">A simple timer application that allows you to set a timer for intense study sessions or general
      productivity</p>
    <hr class="my-4">

  </div>

  <div class="container-fluid">
    <div class="row addGap">
      <div class="card mr-3 border-secondary shadow-sm bg-white rounded" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Timer</h5>
          <p class="card-text">Just your simple original timer.
          </p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="card mr-3 border-secondary shadow-sm bg-white rounded" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pomodoro Timer</h5>
          <p class="card-text">Consists of 4, 25 minute intervals with a 5 minute break in between. Afterwards, take a
            25
            minute long break to restart the Pomodoro cycle again.
          </p>
          <a routerLink="/pomodoro" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>